
h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h4 {
    
    font-size: 15px;
}

p{
    font-size:20px;
    font-weight: bold;
    text-decoration: underline;
}

li{
    font-size:16px;
    list-style-type:none;
}


body {
    text-align: center;
    background-color: #373737;
	color: #999;
    font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.button {
    font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position:relative;
    display:inline-block;
    text-decoration: none;
    color: #373737;
    padding: 12px 36px;
    margin: 10px 0;
    letter-spacing:2px;
    text-transform:uppercase;
    background: #999;
    font-size:18px;
    border-radius:40px;
}