<!DOCTYPE html>
<html >
    
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} /> 
    <title>Topify</title>
</head>
    
<body>
    
    <h1>{{ song }}</h1>
    <h2>By {{ artist  }} </h2>
    <b></b>
    <img src={{ img  }} />
    <h3>
    <audio src="{{ preview }}" controls> </audio>
    </h3>
    <h4 ><a href="{{ lyrics }}" class="button"> click here to view the lyrics!</a></h4>
    
    <h5 onclick="myFunction()"> <a href="#" class="button">Next Song </a> </h5>
    
    
    <p>Related Genres:
    {% for i in range(0,num) %}
    <li>{{ related_genres[i] }}</li>
    </p>
    {% endfor %}
    
    <script>
    
    function myFunction() {
        location.reload();        
    }
    
    </script>

</body>


</html>