<!DOCTYPE html>
<html >
    
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} /> 
    <title>CS490 Project 1</title>
</head>
    
<body>
    
    <h1>{{ displayInfo[0] }}</h1>
    <h2>By {{ displayInfo[1]  }} </h2>
    <b></b>
    <img src={{ displayInfo[2]  }} />
    <h3>
    <audio src="{{ displayInfo[3] }}" controls> </audio>
    </h3>
    <h4 ><a href="{{ lyrics_url }}" class="button"> click here to view the lyrics!</a></h4>
    
    <h5 onclick="myFunction()"> <a href="#" class="button">Next Song </a> </h5>
    
    <script>
    
    function myFunction() {
        location.reload();
    }
    
    </script>

</body>


</html>